.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    cursor: pointer;
}

.portfolilo__item-image {
    border-radius: 3.5rem;
    overflow: hidden;
}

.p-img {
    width: 100%;
    /* height: 100%; */
    transition: all 4s ease;
}

article.articleAdj:hover .p-img {
    transform: translateY(-100%);
    /* transition: move all 4s ease-in-out infinite alternate; */
}

article.articleAdj {
    height: 50vh;
    overflow: hidden
}

article.articleAdj:hover h3 {
    margin: 1.2rem 0 2rem;
    /* bottom: 2rem; */
    /* transform: translateY(-100%); */
    position: absolute;
    color: #61dafb;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
    position: sticky;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width:600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}